#define ZMK_POINTING_DEFAULT_MOVE_VAL 1700 // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 30  // default: 10

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>        // bluetooth
#include <dt-bindings/zmk/pointing.h>  // mouse

#define QWERTY 0  // mac os
#define NUM 1  // number
#define SYM 2  // symbol
#define FUNC 3  // function



/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};


